@import 'partials/template.css';
@import 'partials/form.css';
@import 'partials/table.css';
@import 'partials/button.css';
@import 'themes/dark.css';

section{ box-shadow: var(--default-shadow), var(--default-shadow); }

section > div{
	width: 100%;
	padding: 10px;
}

section > p{ padding: 0 30px; }

.videoHolder, #listHolder{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}

.videoHolder figure{ 
	flex-basis: 300px;
	flex-grow: 1;
}

figure img, figure video, figure iframe{
	width: 100%;
	min-width: 320px;
	height: 300px;
	border-radius: var(--default-radius);
}
