footer{
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 25px 35px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.5);
	background-color: var(--primary-black);
	color: var(--secondary-grey);
	border-radius: 2px 2px 0 0;
}

footer div div{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

footer div div span{
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

h5{
	margin: 5px;
	color: var(--info-color);
}

footer a{
	cursor: pointer;
	color: var(--secondary-grey);
	font-size: 14px;
	margin-bottom: 10px;
	font-family: 'Lucida Sans Unicode', Roboto, sans-serif;
}

footer form{ max-width: 400px; }
#error{ color: var(--primary-red); }

#copy{
	position: absolute;
	left: 5%;
	bottom: 10px;
}
