header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 5vw;
	background-color: var(--primary-black);
	color: var(--primary-grey);
	animation: headerAni 1s;
	z-index: 300;
}

header div{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

header nav{
	display: flex;
	justify-content: center;
	align-items: center;

}

header nav a{
	margin: 0 15px;
	cursor: pointer;
	color: var(--secondary-grey);
}

header nav .selectedMenu{
	color: var(--primary-green) !important;
	cursor: default;
}

/* Animations */
@keyframes headerAni{
	from{ top: -100px; }
	to{ top: 0; }
}

/* Media Queries */
@media(max-width: 565px){
	header{
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	header div{ 
		justify-content: center; 
		margin-bottom: 15px;
	}
	.brandName{ width: unset; }
	header a i{ font-size: 15px; }
}
