/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Montserrat:400,800|Indie+Flower);

@import 'header.css';
@import 'footer.css';

/* Variables */
:root {
	--primary-green: lightgreen;
	--secondary-green: #18a888;
	--default-blue: #00bfff;
	--primary-yellow: gold;
	--secondary-yellow: goldenrod;
	--primary-red: tomato;
	--primary-white: white;
	--secondary-white: #fbfbfb;
	--primary-grey: #eee;
	--secondary-grey: #bbb;
	--primary-black: #2d333a;
	--secondary-black: #262b30;
	--info-color: #777;
	--default-radius: 2px;
	--default-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

*{
	box-sizing: border-box;
	transition: all 0.1s ease-out;
	outline: none;
	border: none;
}

p, h1, h2, h3, h4, h5, h6{ cursor: default; }
h1 {
	font-weight: bold;
	margin: 0;
}
h2 { text-align: center; }
h4{
	margin: 0;
	margin-bottom: 10px;
	font-size: 2rem;
	color: var(--secondary-green);
}

input[type='radio']{ cursor: pointer; }
i{
	font-size: 20px;
	cursor: pointer;
}
a{
	text-decoration: none;
	cursor: pointer;
	color: var(--default-blue);
}

body{
	margin: 0;
	font: large 'Indie Flower';
	background-color: var(--secondary-white);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 60px;
}

.brandName{
	width: 280px;
	margin: 0 10px;
	font-size: 1.6rem;
	color: var(--secondary-white);
	cursor: default;
	
}
.brandName span{ 
	color: var(--primary-green);
	margin: 0 5px;
}

/* Section */
section{
	width: 70vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 20px;
	margin: 20px 0;
	overflow: hidden;
	box-shadow: var(--default-shadow);
	background-color: white;

}

noscript{
	width: 100%;
	background-color: var(--secondary-yellow);
	color: var(--secondary-white);
	text-align: center;
	padding: 10px;
}

/* Media Queries */
@media(max-width: 480px){
	body{ font-size: 14px; }
}
